<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>
<h1>All Products</h1>
<ul class="catalog">
  <% cache @products do %>
    <% @products.each do |product| %>
        <li>
          <%= image_tag(product.image_url) %>
          <h2><%= product.title %></h2>
          <p>
            <%= sanitize(product.description) %>
          </p>
          <div class="price">
              <%= number_to_indian_currency(product.price) %>
            <br/>
            <%= button_to 'Add to Cart' , line_items_path(product_id: product) , remote: true%>
          </div>
        </li>
    <% end %>
  <% end %>
</ul>
